@import "tailwindcss" source(none);

@source "../assets/index.html";
@source "../catsquad-web/**/*.rs";
/* @import "tailwindcss"; */

@font-face {
  font-family: "Atkinson Hyperlegible Next VF";
  src: url("/font_hi.woff2") format("woff2");
}

@font-face {
  font-family: "Luckiest Guy";
  src: url("/font_lucky.ttf") format("truetype");
}
/* @font-face { */
  /* font-family: "Luckiest Guy"; */
  /* src: url("/font_lucky.ttf") format("ttf"); */
/* } */

@keyframes glow {
  /* from { */
  /*   transform: translateX(0%); */
  /* } */
  to {
    background-color: var(--color-base03);
  }
}

@theme {
    --color-low-purple: #ffffff;
    --color-half-purple: #67398B;
    --color-mid-purple: #925CB3;
    --color-dark-purple: #250157;
    --color-dark2-purple: #642B87;
    --color-dark-night: #1A2625;
    --color-dark-night2: #1A2621;
    --color-light-flower: #E6C5E8;
    --color-second-one: #823679;
    --color-first-one: #41355E;
    --color-space-one: #000017;

    --color-base00: #1E1E2E;
    --color-base01: #181825;
    --color-base02: #313244;
    --color-base03: #45475A;
    --color-base04: #585B70;
    --color-base05: #CDD6F4;
    --color-base06: #F5E0DC;
    --color-base07: #B4BEFE;
    --color-base08: #F38BA8;
    --color-base09: #FAB387;
    --color-base0A: #F9E2AF;
    --color-base0B: #A6E3A1;
    --color-base0C: #94E2D5;
    --color-base0D: #89B4FA;
    --color-base0E: #CBA6F7;
    --color-base0F: #F2CDCD;

    --font-hi: "Atkinson Hyperlegible Next VF", sans-serif;
    --font-lucky: "Luckiest Guy", cursive;
}

